<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>BOOTSTRAP GO!</h1>
  <p>I done gone through this here tutorial!</p>
  <p><%- linkTo('This be what I did »', 'http://geddyjs.org/tutorial.html', {class: 'btn btn-primary btn-large'}) %></p>
</div>
